		<div class="form-group">
			<label for="instanceId" class="col-sm-4 col-lg-2 control-label">Instance ID</label>
			<div class="col-sm-8 col-lg-10">
				{{input '@id' class="form-control" id="instanceId" placeholder="Enter a URI"}}
			</div>
		</div>
		<div class="form-group">
			<label for="label" class="col-sm-4 col-lg-2 control-label">Label</label>
			<div class="col-sm-8 col-lg-10">
				{{input 'rdfs:label' class="form-control" id="label" placeholder="Enter a short label"}}
			</div>
		</div>
		<div class="form-group">
			<label for="comment" class="col-sm-4 col-lg-2 control-label">Comment</label>
			<div class="col-sm-8 col-lg-10">
				{{input 'rdfs:comment' class="form-control" id="comment" placeholder="Enter a long-ish comment"}}
			</div>
		</div>
		<div class="form-group">
			<label for="driverName" class="col-sm-4 col-lg-2 control-label">Driver name</label>
			<div class="col-sm-8 col-lg-10">
				{{select 'bm:driverName' availableDrivers class="form-control" id="driverName"}}
			</div>
		</div>
		<div class="form-group">
			<label for="optionsYAML" class="col-sm-4 col-lg-2 control-label">Options YAML</label>
			<div class="col-sm-8 col-lg-10">
				{{textarea 'bm:optionsYAML' class="form-control" id="optionsYAML" placeholder="Enter a YAML string"}}
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-4 col-sm-8 col-lg-offset-2 col-lg10">
				<div class="checkbox">
					<label>
						<input type="checkbox" name="bm:enabled" value="true"> Enabled
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-4 col-sm-8 col-lg-offset-2 col-lg10">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>