<div class="content resource">
	<header>
		<h1>Data Manager</h1>
		<h2>Overview</h2>
	</header>
	<div class="row">
		<div class="col-sm-12 col-md-8 col-lg-9">
			<h3>Driver Instances <a href="/data-manager/instance/create" class="btn btn-default pull-right">Create</a></h3>
			<table class="table">
				<thead>
					<tr>
						<th class="status"></th>
						<th class="instance-label">Label</th>
						<th class="driver">Driver</th>
						<th class="last-fetched">Last Fetched</th>
						<th class="actions" colspan="2">Actions</th>
					</tr>
				</thead>
				{{#each driverInstances}}
				{{log this}}
				<tr>
					<td>{{#if bm:enabled}}<i class="glyphicon glyphicon-ok"></i>{{/if}}</td>
					<td>
						<strong>{{rdfs:label}}</strong><br>
						<small>&lt;{{[@id]}}&gt;</small>
					</td>
					<td><a href="/data-manager/driver/view/{{bm:driverName}}">{{bm:driverName}}</a></td>
					<td>{{#if instance}}{{instance.lastFetched}}{{/if}}</td>
					<td><a href="/data-manager/instance/view/{{encodeURI [@id]}}" class="btn btn-default">View</a></td>
					<td>{{#if bm:enabled}}
						<form action="/data-manager/instance/fetch/{{encodeURI [@id]}}" method="POST">
							<button type="submit" class="btn btn-default">Fetch</submit>
						</form>
					{{/if}}</td>
				</tr>
				{{/each}}
			</table>
		</div>
		<div class="col-sm-12 col-md-4 col-lg-3">
			<h3>Available Drivers</h3>
			<ul>
				{{#each availableDrivers}}
				<li><a href="/data-manager/driver/view/{{this}}">{{this}}</a></li>
				{{/each}}
			</ul>
		</div>
	</div>
</div>