<div class="content resource">
	{{#with resource}}
	<article class="resource">
		<header>
			<h1>Kumpulan Data</h1>
			<h2>{{preferredLabel}}</h2>
		</header>

		<div class="row">
			<div class="description col-lg-8 col-md-6">
			{{#if rdfs:comment}}
			{{#markdown}}{{trim rdfs:comment}}{{/markdown}}
			{{/if}}
			</div>

			<div class="col-lg-4 col-md-6">
				<table class="table">
					{{#if [@id]}}
					<tr>
						<th>Pranala</th>
						<td>{{link [@id]}}</td>
					</tr>
					{{/if}}
					{{#if dct:publisher}}
					<tr>
						<th>Penerbit</th>
						<td>{{ldObject dct:publisher}}</td>
					</tr>
					{{/if}}
				</table>
			</div>
		</div>
		<div>
			{{#ifCollection datasets}}
			<section class="infobox-collection">
				{{#each datasets}}
				<section class="infobox">
					<h4>{{preferredLabel}}</h4>
					{{datacubeTable class="table table-striped table-bordered"}}
					<footer>
						<address class="source">Sumber: {{descriptionLink [@id]}}</address>
					</footer>
				</section>
				{{/each}}
			</section>
			{{/ifCollection}}
		</div>
	</article>
	{{/with}}
</div>