<div class="content resource">
	<article>
		<header>
			<h1>Tentang</h1>
			<h2>{{#is thisPlace.[@type] 'bm:Provinsi'}}Provinsi{{/is}} {{title}}</h2>
		</header>

		<section class="place-summary">
			<div class="row">
				<div class="col-md-3">
					<h4>Jumlah Penduduk</h4>
					<p class="quick-stat">1.000.000 <span>jiwa</span></p>
				</div>
				<div class="col-md-3">
					<h4>Tingkat Kemiskinan</h4>
					<p><span class="quick-stat">4,95%</span></p>
				</div>
				<div class="col-md-3">
					<h4>Angka Harapan Hidup</h4>
					<p><span class="quick-stat">69,85 <span>tahun</span></span></p>
				</div>
				<div class="col-md-3">
					<h4>Inflasi Daerah</h4>
					<p><span class="quick-stat">6%</span></p>
				</div>
			</div>
		</section>
		<div class="row">
			<div class="col-md-9">

				{{#ifCollection datasets}}
				<section class="infobox-collection">
					<header>
						<h3>Rincian Indikator Pembangunan</h3>
					</header>
					{{#each datasets}}
					<section class="infobox">
						<h4>{{label}}</h4>
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th></th>
									{{#each periods}}
									<th>{{this}}</th>
									{{/each}}
								</tr>
							<thead>
							<tbody>
							{{#each data}}
								<tr>
									<th>{{@key}}</th>
									{{#periodValues ../periods}}
									<td>{{@value}}</td>
									{{/periodValues}}
								</tr>
							{{/each}}
							</tbody>
						</table>
						<footer>
							<address class="source">Sumber: {{descriptionLink @key}}</address>
						</footer>
					</section>
					{{/each}}
				</section>
				{{/ifCollection}}

				{{#ifCollection qbDatasets}}
				<section class="infobox-collection">
					<header>
						<h3>Rincian Indikator Pembangunan</h3>
					</header>
					{{#each qbDatasets}}
					<section class="infobox">
						<header>
							<h4>{{preferredDatasetLabel}}</h4>
							<div class="view-toggle">
								<div class="btn-group">
									<a class="btn btn-default" href="#"><i class="glyphicon glyphicon-stats"></i></a>
									<a class="btn btn-default active" href="#"><i class="glyphicon glyphicon-list"></i></a>
								</div>
							</div>
						</header>
						<div class="infobox-body">
							{{datacubeTable class="table table-striped table-bordered"}}
						</div>
						<footer>
							<address class="source">Sumber: {{descriptionLink [@id]}}</address>
						</footer>
					</section>
					{{/each}}
				</section>
				{{else}}
				<section class="infobox-collection">
					<header>
						<h3>Rincian Indikator Pembangunan</h3>
					</header>
					<p>Belum ada data indikator pembangunan untuk daerah ini.</p>
				</section>
				{{/ifCollection}}

				{{#if thisPlace.geo:lat}}
				<section class="infobox-collection on-map">
					<h3>Letak Geografis</h3>
					{{>map thisPlace}}
				</section>
				{{/if}}
			</div>
			<nav class="col-lg-3 col-md-4">
				<h3>Telusur</h3>
				<div class="parent-link">
					<i class="glyphicon glyphicon-arrow-up"></i>
					{{#ifCollection parent}}
					{{descriptionLink parent}}
					{{else}}
					<a href="/">Seluruh provinsi</a>
					{{/ifCollection}}
				</div>
				{{#ifCollection children}}
				<section class="children">
					<h4>Wilayah bagian {{title}}:</h4>
					<ul>
					{{#each children}}
						<li>{{ldObject this}}</li>
					{{/each}}
					</ul>
				</section>
				{{/ifCollection}}
			</nav>
		</div>
	</article>
</div>