<div class="content activity">
	<article class="activity">
		<header>
			<h1>Tentang</h1>
			<h2>{{#is thisPlace.[@type] 'bm:Provinsi'}}Provinsi{{/is}} {{title}}</h2>
		</header>

		<div class="row">
			<div class="col-lg-9 col-md-8">
				{{#ifCollection datasets}}
				<section class="infobox-collection">
					<header>
						<h3>Statistik</h3>
					</header>
					{{#each datasets}}
					<section class="infobox">
						<h4>{{label}} <span class="source-link">({{descriptionLink @key "sumber"}})</span></h4>
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>Ukuran</th>
									{{#each periods}}
									<th>{{this}}</th>
									{{/each}}
								</tr>
							<thead>
							<tbody>
							{{#each data}}
								<tr>
									<td>{{@key}}</td>
									{{#periodValues ../periods}}
									<td>{{@value}}</td>
									{{/periodValues}}
								</tr>
							{{/each}}
							</tbody>
						</table>
						<footer>
							<address class="source">Sumber: {{descriptionLink @key}}</address>
						</footer>
					</section>
					{{/each}}
				</section>
				{{/ifCollection}}

				{{#with thisPlace}}
				{{#if geo:lat}}
				<section class="infobox on-map">
					<h4>Letak geografis</h4>
					{{>map}}
				</section>
				{{/if}}

				{{!-- 
				<section class="infobox properties">
					<h4>Tentang {{preferredLabel}}</h4>
					<table class="table">
						{{#each this}}
						{{#contains @key '@'}}
						<!-- -->
						{{else}}
						<tr>
							<th>{{@key}}<th>
							<td>{{ldObject this}}</td>
						</tr>
						{{/contains}}
						{{/each}}
					</table>
				</section>
				--}}
				{{/with}}
			</div>
			<div class="col-lg-3 col-md-4">
				<section class="infobox">
					<h4>Wilayah bagian</h4>
					<ul>
					{{#each children}}
						<li>{{ldObject this}}</li>
					{{/each}}
					</ul>
				</section>
			</div>
		</div>
	</article>
</div>