<div class="content resource">
	<article>
		<header>
			<h1>Tentang</h1>
			<h2>{{title}}</h2>
		</header>

		<section class="place-summary">
			<div class="row">
				<div class="col-md-3">
					<h4>Jumlah Penduduk</h4>
					<p class="quick-stat">&mdash; <span>jiwa</span></p>
				</div>
				<div class="col-md-3">
					<h4>Tingkat Kemiskinan</h4>
					<p><span class="quick-stat">&mdash;%</span></p>
					{{!-- <p><span class="quick-stat">4,95%</span></p> --}}
				</div>
				<div class="col-md-3">
					<h4>Angka Harapan Hidup</h4>
					<p><span class="quick-stat">&mdash; <span>tahun</span></span></p>
					{{!-- <p><span class="quick-stat">69,85 <span>tahun</span></span></p> --}}
				</div>
				<div class="col-md-3">
					<h4>Inflasi Daerah</h4>
					<p><span class="quick-stat">&mdash;%</span></p>
					{{!-- <p><span class="quick-stat">6%</span></p> --}}
				</div>
			</div>
		</section>
		<div class="row">
			<div class="col-md-9">
				{{#ifCollection qbDatasets}}
				<section class="infobox-collection" id="datasets">
					<header>
						<h3>Kumpulan Data Indikator Pembangunan</h3>
					</header>
					{{#each qbDatasets}}
					<section class="infobox" data-dataset-id="{{[@id]}}" id="{{htmlId}}">
						<header>
							<h4>{{preferredDatasetLabel}}</h4>
							{{!-- {{#if chartable}}
							<div class="view-toggle">
								<div class="btn-group">
									<a class="btn btn-sm btn-default" href="" data-view="chart"><i class="glyphicon glyphicon-stats"></i></a>
									<a class="btn btn-sm btn-default active" href="" data-view="table"><i class="glyphicon glyphicon-list"></i></a>
								</div>
							</div>
							{{/if}} --}}
						</header>
						<div class="infobox-body">
							{{datacubeTable class="table table-striped table-bordered"}}
						</div>
						<footer>
							<address class="source">
								Sumber:
								{{#ifCollection [dct:publisher]}}{{ldObject [dct:publisher]}} &ndash;{{/ifCollection}}
								<em>{{ldObject this}}</em></address>
						</footer>
					</section>
					{{/each}}
				</section>
				{{else}}
				<section class="infobox-collection">
					<header>
						<h3>Kumpulan Data Indikator Pembangunan</h3>
					</header>
					<p>Belum ada data indikator pembangunan untuk daerah ini.</p>
				</section>
				{{/ifCollection}}

				{{#ifCollection iatiActivities}}
				<section class="infobox-collection" id="iati-activities">
					<h3>Kegiatan-Kegiatan yang Didanai Bantuan Internasional</h3>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Judul Kegiatan</th>
								<th>Organisasi Pelapor</th>
							</tr>
						</thead>
						<tbody>
						{{#each iatiActivities}}
							<tr>
								<td>{{ldObject this}}</td>
								<td>{{ldObject [iati:activity-reporting-org]}}</td>
							</tr>
						{{/each}}
						</tbody>
					</table>
				</section>
				{{/ifCollection}}

				{{#if thisPlace.geo:lat}}
				<section class="infobox-collection on-map" id="map">
					<h3>Letak Geografis</h3>
					{{>map thisPlace}}
				</section>
				{{/if}}
			</div>
			<nav class="col-md-3">
				<h3>Daftar isi</h3>
				<nav>
					<ul>
						<li><a href="#datasets">Kumpulan Data Indikator Pembangunan</a></li>
						{{#ifCollection iatiActivities}}
						<li><a href="#iati-activities">Kegiatan-Kegiatan yang Didanai Bantuan Internasional</a></li>
						{{/ifCollection}}
						{{#if thisPlace.geo:lat}}
						<li><a href="#map">Letak Geografis</a></li>
						{{/if}}
					</ul>
				</nav>
				<h3>Telusur</h3>
				<div class="parent-link">
					<i class="glyphicon glyphicon-arrow-up"></i>
					{{#ifCollection parent}}
					{{descriptionLink parent}}
					{{else}}
					<a href="/">Seluruh provinsi</a>
					{{/ifCollection}}
				</div>
				{{#ifCollection children}}
				<section class="children">
					<h4>Wilayah bagian {{title}}:</h4>
					<ul>
					{{#each children}}
						<li>{{ldObject this}}</li>
					{{/each}}
					</ul>
				</section>
				{{/ifCollection}}
			</nav>
		</div>
	</article>
</div>

{{#defer}}
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="/js/jquery.tipsy.js"></script>
<script src="/js/charts.js"></script>
<script src="/js/place.js"></script>
<script>
var datasets = {};
{{#each qbDatasets}}
datasets['{{[@id]}}'] = {{{datasetJson this}}};
{{/each}}

var topics = {{{topicsJSON}}};
var datasetTitles = {{{datasetTitlesJSON}}};
</script>
{{/defer}}