<div class="content resource">
	<article>
		<header>
			<h1>Tentang</h1>
			<h2>{{#is thisPlace.[@type] 'bm:Provinsi'}}Provinsi{{/is}} {{title}}</h2>
		</header>

		<div class="row">
			<div class="col-lg-9 col-md-8">
				{{#ifCollection datasets}}
				<section class="infobox-collection">
					<header>
						<h3>Kumpulan data</h3>
					</header>
					{{#each datasets}}
					<section class="infobox">
						<h4>{{label}}</h4>
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th></th>
									{{#each periods}}
									<th>{{this}}</th>
									{{/each}}
								</tr>
							<thead>
							<tbody>
							{{#each data}}
								<tr>
									<th>{{@key}}</th>
									{{#periodValues ../periods}}
									<td>{{@value}}</td>
									{{/periodValues}}
								</tr>
							{{/each}}
							</tbody>
						</table>
						<footer>
							<address class="source">Sumber: {{descriptionLink @key}}</address>
						</footer>
					</section>
					{{/each}}
				</section>
				{{/ifCollection}}

				{{#ifCollection qbDatasets}}
				<section class="infobox-collection">
					<header>
						<h3>Kumpulan data</h3>
					</header>
					{{#each qbDatasets}}
					<section class="infobox">
						<h4>{{preferredLabel}}</h4>
						{{datacubeTable class="table table-striped table-bordered"}}
						<footer>
							<address class="source">Sumber: {{descriptionLink [@id]}}</address>
						</footer>
					</section>
					{{/each}}
				</section>
				{{/ifCollection}}

				{{#if thisPlace.geo:lat}}
				<section class="infobox-collection on-map">
					<h3>Letak geografis</h3>
					{{>map thisPlace}}
				</section>
				{{/if}}
			</div>
			<nav class="col-lg-3 col-md-4">
				<h3>Telusur</h3>
				<div class="parent-link">
					<i class="glyphicon glyphicon-arrow-up"></i>
					{{#ifCollection parent}}
					{{descriptionLink parent}}
					{{else}}
					<a href="/">Seluruh provinsi</a>
					{{/ifCollection}}
				</div>
				{{#ifCollection children}}
				<section class="children">
					<h4>Wilayah bagian {{title}}:</h4>
					<ul>
					{{#each children}}
						<li>{{ldObject this}}</li>
					{{/each}}
					</ul>
				</section>
				{{/ifCollection}}
			</nav>
		</div>
	</article>
</div>