<div class="content resource">
	{{#with resource}}
	<article class="resource">
		<header>
			<h1>{{#with ..}}{{typeLabel}}{{/with}}</h1>
			<h2>{{#ifCollection rdfs:label}}{{preferredLabel}}{{else}}{{[@id]}}{{/ifCollection}}</h2>
		</header>

		<div class="row">
			<div class="col-md-4">
				<h3>Deskripsi</h3>
				{{#if rdfs:comment}}
				{{#markdown}}{{trim rdfs:comment}}{{/markdown}}
				{{else}}
				<p><i>Tidak ada deskripsi</i></p>
				{{/if}}
			</div>
			<div class="col-md-8">
			{{#with ..}}
			{{#ifCollection datasets}}
				<h3>Kumpulan data</h3>
				<ul class="dataset-list">
				{{#each datasets}}
					<li>{{ldObject this}}</li>
				{{/each}}
				</ul>
			{{/ifCollection}}
			{{/with}}
			</div>
		</div>
	</article>
	{{/with}}
</div>