<div class="content activity">

  {{#if error}}
  <div class="alert alert-warning"><strong>An error occurred.</strong> {{ error }}</div>
  {{/if}}

  {{#with activity}}
  <article class="activity">
    <header>
      <h1>Rincian Kegiatan</h1>
      <h2>{{title}}</h2>
    </header>

    <div class="details-wrapper">
      <div class="col-lg-6 col-md-8 description">
        <h5>Description</h5>
        {{{markdown description}}}
      </div>
      <div class="col-lg-6 col-md-4">
        <div class="row">
          <div class="col-lg-6 col-md-12 details">
            {{#if locations}}
            <h5>Lokasi</h5>
            <ul>
            {{#each locations}}
              <li><a href="{{map coordinates.latitude coordinates.longitude}}">{{name}}</a></li>
            {{/each}}
            </ul>
            {{/if}}

            {{#if documentLinks}}
            <h5>Dokumen Terkait</h5>
            <ul>
            {{#each documentLinks}}
              <li><a href="{{url}}">{{title}}</a>{{#each categoryCodes}} <span class="label label-default" title="{{this}}">{{code 'DocumentCategory' this}}</span>{{/each}}</li>
            {{/each}}
            </ul>
            {{/if}}

            {{#if relatedActivities}}
            <h5>Related Activities</h5>
            <ul>
            {{#each relatedActivities}}
              <li><a href="/activity/{{ref}}">{{title}}</a></li>
            {{/each}}
            </ul>
            {{/if}}
          </div>
          <div class="col-lg-6 col-md-12 details">
            {{!-- Make this driver-specific area --}}

            {{#if_eq driver 'world-bank-project'}}
            <p><img src="/img/logos/wb_logo.gif" alt=""></p>

            {{#with _raw}}
            <table class="table">
              <tr>
                <th>ID Proyek</th>
                <td>{{id}}</td>
              </tr>
              <tr>
                <th>Status</th>
                <td>{{status}}</td>
              </tr>
              <tr>
                <th>Tanggal disetujui</th>
                <td>{{date boardapprovaldate 'D MMMM YYYY'}}</td>
              </tr>
              <tr>
                <th>Tanggal tutup</th>
                <td>{{date closingdate 'D MMMM YYYY'}}</td>
              </tr>
              <tr>
                <th>Biaya total</th>
                <td>US$&thinsp;{{lendprojectcost}}</td>
              </tr>
              <tr>
                <th>Besar komitmen</th>
                <td>US$&thinsp;{{totalamt}}</td>
              </tr>
              <tr>
                <th>Besar hibah</th>
                <td>US$&thinsp;{{grantamt}}</td>
              </tr>
            </table>
            {{/with}}

            {{/if_eq}}

            {{!-- 
            <h5>Reporting Organizations</h5>
            <ul>
            {{#each reportingOrgs}}
              <li><a href="/org/{{ref}}">{{name}}</a>{{#if role}} <span class="label label-default">{{role}}</span>{{/if}}</li>
            {{else}}
              <li class="none">None.</li>
            {{/each}}
            </ul>

            <h5>Participating Organizations</h5>
            <ul>
            {{#each participatingOrgs}}
              <li><a href="/org/{{ref}}">{{name}}</a>{{#if role}} <span class="label label-default">{{role}}</span>{{/if}}</li>
            {{else}}
              <li class="none">None.</li>
            {{/each}}
            </ul>
            --}}
          </div>
        </div>
      </div>
    <detailsv>
  </article>
  {{/with}}
</div>