<div class="content syahbandar syahbandar-index">
  <header>
    <h1>Syahbandar</h1>
    <p class="lead">BenangMerah datasource manager</p>
  </header>
  <section class="datasources">
    <header>
      <h2>Datasources</h2>      
    </header>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Description</th>
          <th>Driver</th>
          <th>Last Pull</th>
          <th>Next Pull</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each datasources}}
        <tr>
          <td>{{_id}}</td>
          <td>{{title}}</td>
          <td>{{description}}</td>
          <td{{#if driverInvalid}} class="invalid"{{/if}}>{{driverTitle}}</td>
          <td>{{displayLastPull}}</td>
          <td>{{displayNextPull}}</td>
          <td>
            <form action="/syahbandar/pull/{{_id}}" method="POST"><button type="submit" class="btn btn-sm btn-primary">Pull</button></form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
</div>