<div class="content syahbandar syahbandar-pull">
  <header>
    <h1>Syahbandar</h1>
  </header>
  <section class="pull">
    <header>
      <h2>Pull{{#if datasource}}: {{ds.title}}{{/if}}</h2>
      {{#if err}}
      <div class="alert alert-danger">{{err}}</div>
      {{else}}
      <p>Succesfully processed:</p>
      <ul>
      {{#each counts}}
        <li>{{this}} {{@key}}</li>
      {{/each}}
      </ul>
      {{/if}}
    </header>
  </section>
</div>