<div class="content worldbank">
  <h1 class="page-title">World Bank Scaffold</h1>
  <h2>Headers</h2>
  <table class="table">
    <tr><th>Header</th><th>Value</th></tr>
    {{#each headers}}
      <tr><td>{{@key}}</td><td>{{this}}</td></tr>
    {{/each}}
  </table>
  <h2>Projects</h2>
  <table class="table">
    <tr><th>ID</th><th>Title</th><th>Description</th></tr>
    {{#each projects}}
      <tr><td>{{id}}</td><td>{{title}}</td><td>{{description}}</tr>
    {{/each}}
  </table>
  <h2>Body</h2>
  <pre>{{body}}</pre>
</div>
